body{
    background-color: rgb(211, 239, 230); 
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
   background-color: black; 
   padding: 10px;
   border-radius: 20px;
}

.calculator form input{
    width: 70px;
    height: 70px;
    margin-bottom: 7px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    /* border-bottom: 10px; */
}

#zeroBtn{
    width:150px;
    background-color: rgb(42, 39, 39);
    color: white;
    border:none ;
    border-radius: 40px;
    margin-right: 7px;
    /* text-align: start; */
    
}

#zeroBtn:hover{
    background-color: rgb(88, 87, 87) ;
}

.display{
    display: flex;
    justify-content: flex-end;
}

#displayBtn{
    flex: 1;
    text-align: right;
    border-radius: 1%;
    border:none;
    background-color:black;
    color: white;
    font-size: 40px;
}
.greyButtons{
    background-color: rgb(192, 188, 188);
    border:none ;
    margin-right: 7px;
}

.darkButtons{
    background-color: rgb(42, 39, 39);
    color: white;
    border:none ;
    margin-right: 7px;
}

.yellowButtons{
    background-color: rgb(253, 139, 0);
    color: white;
    border:none ;
}

.greyButtons:hover{
    background-color:white ;
}

.darkButtons:hover{
    background-color: rgb(88, 87, 87) ;
}

.yellowButtons:hover{
    background-color: rgb(246, 181, 101) ;
}

